{% extends "application.html" %} 
{% block title %}Index - ToDo{% endblock %} 
{%block content %}
<div class="container">
  <div class="page-header">
    <h1 class="text-center text-primary">ToDo: Never forget your duties</h1>
  </div>
  {%if tasks|length<1%}
    <h4 class="text-center text-warning">There are no tasks. Create one below!</h4>
  {% else %}
    <table class="table table-striped mt-5">
        <thead>
          <tr>
            <th>Description</th>
            <th>Created</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for task in tasks %}
            <tr>
              <td>{{ task.description }}</td>
              <td>{{ task.data_created.date() }}</td>
              <td>
                <a href="/update/{{task.id}}" class="btn btn-success">Update</a>
                <a href="/delete/{{task.id}}" class="btn btn-danger">Delete</a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
    </table>
  {% endif %}
  <form action="/" method="POST" class="form-inline">
    <div class="form-group">
      <label for="description"></label>
      <input type="text" class="form-control w-50" name="description" id="description">
      <button type="submit" class="btn btn-primary mt-4">Add Task</button>
    </div>
  </form>
</div>
{% endblock %}
